
* {
    box-sizing: border-box;
  }


  body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
      margin: 0;
      padding: 0;
  }

  .fila {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .columna {
      flex: 1;
      width: calc(50% - 20px);
      margin: 10px;
      padding: 20px;
      background-color: #b8b8b8;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center; 
    font-size: 2.3em; 
    font-weight: bolder; 
    color: #333; 
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  li {
      margin-bottom: 10px;
  }

  .profile-picture {
      text-align: center;
      margin-bottom: 20px;
  }

  .profile-picture img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 5px solid #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .link {
      display: block;
      margin-top: 20px;
      text-align: center;
      color: blue;
      text-decoration: underline;
  }

  @media (max-width: 768px) {
      .columna {
          width: calc(100% - 20px);
      }
  }

  .about-images {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap; 
}

.about-images img {
    width: 225px; 
    height: 200px; 
    margin: 5px; 
}

.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 15%;
}

.derecha {
width: 75%;
}

.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#e7e7e7;
}

#c2 {
    background-color:#e2e3e6;
}


.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }



@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

.fila{
  display:flex;
}



.izquierda, .derecha {
  border: 10px solid black;
}

